{% extends "base.html" %}
{% block content %}
<h2>ログイン</h2>
<form method="post">
  <div>
    <label>メール</label><br>
    <input name="email" type="email" required>
  </div>
  <div>
    <label>パスワード</label><br>
    <input name="password" type="password" required>
  </div>
  <div style="margin-top:10px;">
    <button type="submit">ログイン</button>
  </div>
</form>

<p style="margin-top:12px;">
  <a href="{{ url_for('register') }}">ユーザー登録</a>
</p>

<p style="margin-top:12px;">
  研修用初期アカウント:
  admin@example.com / Admin1234
  , user1@example.com / User1234
  , user2@example.com / User1234
  , inactive@example.com / User1234(ログイン不可)
</p>
{% endblock %}
